/* Product Grid */
.product-card img {
    height: 250px;
    object-fit: cover;
}

.product-card {
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
}

/* Price */
.price {
    font-weight: bold;
    color: #000;
}

/* Filter box */
.filter-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

/* Buttons */
.btn-dark {
    background-color: #000;
    border: none;
}

img {
    max-height: 450px;
    object-fit: cover;
}

.btn-dark {
    background-color: #000;
}

/* ===== PRODUCT IMAGE ZOOM ===== */
.image-wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.image-wrapper img {
    width: 100%;
    transition: transform 0.4s ease;
    cursor: zoom-in;
}

.image-wrapper:hover img {
    transform: scale(1.5);
}

/* ===== ARROW BUTTONS ===== */
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.arrow-left {
    left: 5px;
}

.arrow-right {
    right: 5px;
}

.arrow-btn:hover {
    background: rgba(0,0,0,0.8);
}

/* ===== THUMBNAILS ===== */
.thumb-img {
    height: 70px;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 3px;
}

.thumb-img.active {
    border: 2px solid #000;
}
