{% extends 'base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}

<h2>My Orders</h2>

<table class="table table-bordered">
    <tr>
        <th>Order ID</th>
        <th>Total</th>
        <th>Date</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>
            <a href="{% url 'orders:order_detail' order.id %}">
                #{{ order.id }}
            </a>
        </td>
        <td>₹ {{ order.total_amount }}</td>
        <td>{{ order.created_at|date:"d M Y" }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <ul>
                {% for item in order.items.all %}
                <li class="d-flex align-items-center mb-2">
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="50" height="50"
                        class="me-2 rounded" style="object-fit: cover;">
                    {% endif %}

                    <div>
                        <strong>{{ item.product.name }}</strong><br>
                        Qty: {{ item.quantity }} × ₹ {{ item.price }}
                    </div>
                </li>

                {% endfor %}
            </ul>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No orders found.</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}